In [1]:
#importing data
import pandas as pd
import numpy as np
data=pd.read_csv("Desktop\\python programs\\Datasets\\pima-indians-diabetes.csv")
data.shape

(768, 9)

In [2]:
data.describe()

,Pregnancies,Glucose,BloodPressure,Skin Thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
Skin Thickness              768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Class                       768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
#finding missing values
(data.iloc[:,:]==0).sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
Skin Thickness              227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Class                       500
dtype: int64

In [6]:
#replacing missing values with Not a Number(NaN)
df=data.replace(0,np.NaN)
print(df.isnull().sum())
print("\nshape ",df.shape)
print("\n",df.head(10))

Pregnancies                 111
Glucose                       5
BloodPressure                35
Skin Thickness              227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Class                       500
dtype: int64

shape  (768, 9)

    Pregnancies  Glucose  BloodPressure  Skin Thickness  Insulin   BMI  \
0          6.0    148.0           72.0            35.0      NaN  33.6
1          1.0     85.0           66.0            29.0      NaN  26.6
2          8.0    183.0           64.0             NaN      NaN  23.3
3          1.0     89.0           66.0            23.0     94.0  28.1
4          NaN    137.0           40.0            35.0    168.0  43.1
5          5.0    116.0           74.0             NaN      NaN  25.6
6          3.0     78.0           50.0            32.0     88.0  31.0
7         10.0    115.0            NaN             NaN      NaN  35.3
8          2.0    197.0           70.0            45.0    543.0  30.5
9          8.0    125.0           96.0             NaN      NaN   NaN

   DiabetesPedigreeFunction  Age  Class
0                     0.627   50    1.0
1                     0.351   31    NaN
2                     0.672   32    1.0
3                     0.167   21    NaN
4                     2.288   33    1.0
5                     0.201   30    NaN
6                     0.248   26    1.0
7                     0.134   29    NaN
8                     0.158   53    1.0
9                     0.232   54    1.0

In [9]:
#filling missing values using mean,forward and backward filling 
mean_value=data['Age'].mean()
data['Age']=data['Age'].fillna(mean_value)
data.fillna(method='bfill')
data.fillna(method='pad')
data.head(10)

,Pregnancies,Glucose,BloodPressure,Skin Thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1