In [2]:
#importing data
import datetime as dt
import pandas as pd
df=pd.read_csv("Desktop\\python programs\\Datasets\\Insurance.csv")

In [3]:
#finding correlation of data frame
corre=df.corr()
corre

               age       bmi  children  expenses
age       1.000000  0.109341  0.042469  0.299008
bmi       0.109341  1.000000  0.012645  0.198576
children  0.042469  0.012645  1.000000  0.067998
expenses  0.299008  0.198576  0.067998  1.000000

In [5]:
#converting correlation matrix into csv file
corre.to_csv('insurance_correlation_data.csv')