In [7]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\557522\\Downloads\\557522\\Python notebooks\\pima-indians-diabetes.csv")
df.shape

(768, 9)

In [11]:
print(df.describe())
print("\n",df.columns)

       Pregnancies     Glucose  BloodPressure  Skin Thickness     Insulin  \
count   768.000000  768.000000     768.000000      768.000000  768.000000
mean      3.845052  120.894531      69.105469       20.536458   79.799479
std       3.369578   31.972618      19.355807       15.952218  115.244002
min       0.000000    0.000000       0.000000        0.000000    0.000000
25%       1.000000   99.000000      62.000000        0.000000    0.000000
50%       3.000000  117.000000      72.000000       23.000000   30.500000
75%       6.000000  140.250000      80.000000       32.000000  127.250000
max      17.000000  199.000000     122.000000       99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age       Class
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

 Index(['Pregnancies', 'Glucose', 'BloodPressure', 'Skin Thickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Class'],
      dtype='object')

In [12]:
#count no.of zeros in each column
print((df[['Pregnancies','Glucose','BloodPressure','Skin Thickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Class']]==0).sum())

Pregnancies                 111
Glucose                       5
BloodPressure                35
Skin Thickness              227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Class                       500
dtype: int64

In [14]:
#replacing zeros with NaN
df1=df.replace(0,np.NaN)
df1.head(10)

,Pregnancies,Glucose,BloodPressure,Skin Thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,NaN
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,NaN
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0
5,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30,NaN
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26,1.0
7,10.0,115.0,NaN,NaN,NaN,35.3,0.134,29,NaN
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53,1.0
9,8.0,125.0,96.0,NaN,NaN,NaN,0.232,54,1.0

In [15]:
#
print(df1.isnull().sum())
print(df1.shape)

Pregnancies                 111
Glucose                       5
BloodPressure                35
Skin Thickness              227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Class                       500
dtype: int64
(768, 9)